<div style="height: 100px; width:100%;" [formGroup]="frmGroup">

    <!-- <lib-customComponents></lib-customComponents> -->
    <app-custom-input-chip labelValue="Barcode No" [isDisabled]="false"  [selectionModel]="selctionmodel"               
    placeholder="Enter Barcode Number(s)"></app-custom-input-chip>
    <app-custom-dropdown-checkbox placeholder="custom dropdown select" [listData]="[{dropDownKeyProp:'key one',dropDownValueProp:'value one'}]" dropDownKeyProp="dropDownKeyProp" dropDownValueProp="dropDownValueProp"> </app-custom-dropdown-checkbox>

    <app-custom-select labelValue="Case Type" formcontrolname="customSelect" defaultOption="Select Case Type" [fromLabAdmin]="true"
 dropDownKeyProp="CaseTypeDisplayName" dropDownValueProp="Casetype" 
        [dropDownValues]="[{CaseTypeDisplayName:'anal rectal cytology',Casetype:'anal pap'}]"></app-custom-select>
    
    <!-- <app-button> custom button</app-button> -->

    <!-- <app-search-box placeHolder="search here"></app-search-box>

    <app-toggle-switch ></app-toggle-switch>
     -->

     <div style="width: 200px;">
        <!-- <app-custom-input formcontrolname="customInput" type="text" placeholder="type here" labelValue="input text"></app-custom-input>
     </div>
     <app-custom-input type="date" formcontrolname="customDate" labelValue="Expiry Date" [required]="true" placeholder="MM/DD/YYYY" [isLabAdmin]="true" ></app-custom-input> -->

</div>